In [2]:
# Code cell 1
import matplotlib.pyplot as plt
import pandas as pd

In [3]:
dataset_path = 'rpi_data_processed.csv'

data = pd.read_csv(dataset_path)

In [4]:
print(type(data))

<class 'pandas.core.frame.DataFrame'>

In [5]:
SF.head(5)

         Date      Time  Ping (ms)  Download (Mbit/s)  Upload (Mbit/s)
0  2016-11-24  13:36:25     26.992              91.80            14.31
1  2016-11-24  13:36:55     24.532              88.19            14.12
2  2016-11-24  13:37:25     20.225              59.86            14.11
3  2016-11-24  13:37:57     19.332              91.81            14.22
4  2016-11-24  13:38:27     22.494              92.05            14.08

In [6]:
SF.tail(5)

           Date      Time  Ping (ms)  Download (Mbit/s)  Upload (Mbit/s)
668  2016-11-24  19:15:32     20.952              88.67            14.35
669  2016-11-24  19:16:04     19.397              84.86            14.35
670  2016-11-24  19:16:34     20.117              84.99            14.33
671  2016-11-24  19:17:04     17.995              86.21             6.88
672  2016-11-24  19:18:16     22.175              85.69            14.23

In [7]:
SF.describe

<bound method NDFrame.describe of            Date      Time  Ping (ms)  Download (Mbit/s)  Upload (Mbit/s)
0    2016-11-24  13:36:25     26.992              91.80            14.31
1    2016-11-24  13:36:55     24.532              88.19            14.12
2    2016-11-24  13:37:25     20.225              59.86            14.11
3    2016-11-24  13:37:57     19.332              91.81            14.22
4    2016-11-24  13:38:27     22.494              92.05            14.08
..          ...       ...        ...                ...              ...
668  2016-11-24  19:15:32     20.952              88.67            14.35
669  2016-11-24  19:16:04     19.397              84.86            14.35
670  2016-11-24  19:16:34     20.117              84.99            14.33
671  2016-11-24  19:17:04     17.995              86.21             6.88
672  2016-11-24  19:18:16     22.175              85.69            14.23

[673 rows x 5 columns]>